{% extends 'layout.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block css %}
{% endblock %}



{% block body %}
<main class="container">
  <div class="row">
    <div class="col-md-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'sauna:calendar_view' %}">Главная</a></li>
              <li class="breadcrumb-item active" aria-current="page">Все приходы</li>
            </ol>
          </nav>
    </div>
      <div class="col-md-8 border-bottom">
        <h1 class="h3">Бронирования на сегодня по саунам</h1>
    </div>
    {% for i in sauna %}
          <div class="col-md-12">
            <table class="table table-bordered">
                <tr>
                    <td class="table-secondary text-center" colspan="14">Сауна: {{ i.name }}</td>
                </tr>
                {% for j in orders_today %}
                    {% if j.sauna.name == i.name %}
                        <tr>
                            <td class="table-secondary">Заказ</td>
                            <td>
                                <a href="{% url 'order:each' j.id %}" class="btn btn-sm btn-info">
                                    Заказ N {{ j.id }}
                                </a>
                            </td>
                            <td class="table-secondary">Дата регистрации</td>
                            <td>{{ j.created.date }}</td>
                            <td class="table-secondary">Дата бронирование</td>
                            <td>{{ j.start_time }}</td>
                            <td class="table-secondary">Конец бронирование</td>
                            <td>{{ j.end_time }}</td>
                            <td class="table-secondary">Статус</td>
                            <td>{{ j.get_status_display }}</td>
                            <td class="table-secondary">Клиент</td>
                            <td>
                                <a href="{% url 'client:history' j.client.id %}" class="btn btn-sm btn-secondary">
                                    {{ j.client.name }}
                                </a>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
        </div>
    {% endfor %}
    <div class="col-md-8 border-bottom">
        <h1 class="h3">Все приняты заказы</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
          <table class="table table-bordered table-striped table-sm text-center">
              <thead class="table-dark ">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Заказ</th>
                    <th scope="col">Дата регистрации</th>
                    <th scope="col">Дата бронирование</th>
                    <th scope="col">Конец бронирование</th>
                    <th scope="col">Статус</th>
                    <th scope="col">Сауна</th>
                    <th scope="col">Клиент</th>
                </tr>
              </thead>
               <tbody>
               {% for i in page_obj %}
                  <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>
                        <a href="{% url 'order:each' i.id %}" class="btn btn-sm btn-info">
                            Заказ N {{ i.id }}
                        </a>
                    </td>
                    <td>{{ i.created.date }}</td>
                    <td>{{ i.start_time }}</td>
                    <td>{{ i.end_time }}</td>
                    <td>{{ i.get_status_display }}</td>
                    <td>{{ i.sauna }}</td>
                    <td>
                        <a href="{% url 'client:history' i.client.id %}" class="btn btn-sm btn-secondary">
                            {{ i.client.name }}
                        </a>
                    </td>
                  </tr>
                   {% empty %}
                   <tr>
                       <td colspan="8">Empty</td>
                   </tr>
               {% endfor %}
                </tbody>
          </table>
    <div aria-label="Page navigation example">
        <span class="pagination">
            {% if page_obj.has_previous %}
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo; предыдущий</a>
            {% endif %}

            <span class="current page-link">
                Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">следующий &raquo;</a>
            {% endif %}
        </span>
    </div>
    </div>
  </div>
</main>
{% endblock %}


{% block js %}
    <script>

    </script>
{% endblock %}