{% extends 'layout.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block css %}
{% endblock %}


{% block body %}
    <div class="container">
        <div class="card p-4">
            <h3 class="my-3">Сменить пароль для</h3>
            <form method="POST" name="password_form">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-4">
                        <label for="login">Логин</label>
                        <input id="login" class="form-control" type="text" required name="username">
{#                        <a type="button" class="bg-light" id="show_password">#}
{#                            <img style="width: 15px; height: 15px;" class="img-fluid" alt="/" src="{% static 'images/eye_icon.png' %}">#}
{#                        </a>#}
                    </div>
                    <div class="col-md-4">
                        <label for="first_name">Имя</label>
                        <input id="first_name" class="form-control" type="text" required name="first_name">
                    </div>
                    <div class="col-md-4">
                        <label for="use_current_password">Не изменит пароль</label>
                        <input id="use_current_password" type="checkbox" class="form-check" name="use_current_password">
                    </div>
                    <div class="col-md-4">
                        <label for="password">Текущий пароль</label>
                        <input id="password" class="form-control" type="password" required>
                        <a type="button" class="bg-light" id="show_password">
                            <img style="width: 15px; height: 15px;" class="img-fluid" alt="/" src="{% static 'images/eye_icon.png' %}">
                        </a>
                    </div>
                    <div class="col-md-4">
                        <label for="password_new">Новый пароль</label>
                        <input id="password_new" class="form-control" type="password" name="password" required>
                        <a href="#" class="bg-light" id="show_password_new">
                            <img style="width: 15px; height: 15px;" class="img-fluid" alt="/" src="{% static 'images/eye_icon.png' %}">
                        </a>
                    </div>
                    <div class="col-md-4">
                        <label for="password_new_repeat">Повтор нового пароля</label>
                        <input id="password_new_repeat" class="form-control" type="password" required>
                        <p class="text-danger d-none password_new_repeat_check">Пароль не совпадает</p>
                        <a href="#" class="bg-light" id="show_password_new_repeat">
                            <img style="width: 15px; height: 15px;" class="img-fluid" alt="/" src="{% static 'images/eye_icon.png' %}">
                        </a>
                    </div>
                </div>
                <button type="button" class="btn btn-success my-4 form_btn">Изменить</button>
                {{ request.user.password }}
                <a href="{% url 'sauna:calendar_view' %}" class="btn btn-secondary">Назад</a>
            </form>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        $(document).ready(function(){
            $('#show_password').on('click', function(){
                if('password' === $('#password').attr('type')) {
                    $('#password').attr('type', 'text')
                } else {
                    $('#password').attr('type', 'password')
                }
            })
            $('#show_password_new').on('click', function(){
                if('password' === $('#password_new').attr('type')) {
                    $('#password_new').attr('type', 'text')
                } else {
                    $('#password_new').attr('type', 'password')
                }
            })
            $('#show_password_new_repeat').on('click', function(){
                if('password' === $('#password_new_repeat').attr('type')) {
                    $('#password_new_repeat').attr('type', 'text')
                } else {
                    $('#password_new_repeat').attr('type', 'password')
                }
            })
            let checker = 0
            $('.form_btn').on('click', function(){
                if(checker === 0) {
                    $('.password_new_repeat_check').addClass('d-none')
                    if($('#password_new').val() === $('#password_new_repeat').val() && $('#password_new_repeat').val() !== '') {
                        password_form.submit()
                    } else {
                        $('.password_new_repeat_check').removeClass('d-none')
                    }
                } else {
                    input = '<input type="number" name="password" value="{{ request.user.password }}">'
                    $(input).appendTo($('form[name="password_form"]'))
                    password_form.submit()
                }
            })

            $('#use_current_password').on('click', function(){
                if(checker === 0) {
                    $('#password').prop('disabled', true)
                    $('#password_new').prop('disabled', true)
                    $('#password_new_repeat').prop('disabled', true)
                    checker = 1;
                } else {
                    $('#password').prop('disabled', false)
                    $('#password_new').prop('disabled', false)
                    $('#password_new_repeat').prop('disabled', false)
                    checker = 0;
                }
            })
        })
    </script>
{% endblock %}
